<div class="container"
    fxLayout="row wrap"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visiblity]="visiblity" [@expand]>
    <mat-card>
      <mat-card-header>
        <h3>{{dish.name | uppercase}}</h3>
      </mat-card-header>
      <img height=500px mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.image}}>
      <mat-card-content>
        <h4>{{dish.description}}</h4>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail',prev]"><span class="fa fa-chevron-left fa-lg "></span></button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button >LIKE</button>
        <button mat-button >SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail',next]"><span class="fa fa-chevron-right fa-lg "></span></button>
      </mat-card-actions>
      </mat-card>
    </div>

  <div fxFlex="55" *ngIf="dish || commentForm.valid" [@visiblity]="visiblity" [@expand]>
        <h2>Comments</h2>
        <mat-list>
          <mat-list-item *ngFor="let dishs of dish.comments">
            <p matLine>{{dishs.comment}}</p>
            <p matLine>{{dishs.rating}} Stars</p>
            <p matLine>-- {{dishs.author}} {{dishs.date   | date}}</p>
          </mat-list-item>
        </mat-list>
        <form *ngIf="dish" novalidate [formGroup]="commentForm" #ffForm="ngForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field class="full-width">
              <input matInput formControlName="author" placeholder="Name" type="text" required>
              <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
            </mat-form-field>
          </p>
          <p>
              <mat-slider formControlName="rating" step="4" max="5"
            [min]="0"
            [step]="1" tickInterval="1" value="5"
            [thumbLabel]="true">
          </mat-slider>
          </p>
          <p>
            <mat-form-field class="full-width">
              <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
              <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
            </mat-form-field>
          </p>
          <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
        </form>
  </div>
  <div fxFlex [hidden]="dish || errMess">
    <mat-spinner></mat-spinner><h3>Loding......</h3>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>
<br><br>
